/* ----------------------------------------------------------------

	Custom CSS



	Add all your Custom Styled CSS here for New Styles or

	Overwriting Default Theme Styles for Better Hanlding Updates

-----------------------------------------------------------------*/

#page-title.page-title-parallax span {

    font-size: 28px!important;

        line-height: 60px!important;

    /* width: 100%; */

   /* background: rgba(119,136,102,0.5)!important;*/

background: rgba(255, 255, 255,0.7)!important;

    color: #000;

    display: -webkit-inline-box;

    float: right!important;

/*    border:rgba(0,0,0, 0.5) 3px solid!important;

    border-radius:15px!important;*/

/*    	padding: 0 20px 0 20px!important;*/

    	text-indent: 20px!important;

        padding-right: 20px!important;

    margin-right: -20px!important;





}



.title1  {    



	padding: 0 20px 0 20px!important;

    margin-bottom: 10px!important;

    font-weight: 600;

    letter-spacing: 1px;

    color: #ffffff;



   background: rgba(33, 32, 36,0.9)!important;

   font-size: 49px!important;

   line-height: 80px!important;

    text-transform: uppercase;

    margin-right: -20px!important;

    display: -webkit-inline-box;

/*    border:rgba(0,0,0, 0.5) 3px solid!important;

    border-radius:15px!important;*/}



.title2  {    



	padding: 0 20px 0 20px!important;

    margin-bottom: 10px!important;

    font-weight: 600;

    letter-spacing: 1px;

    color: #ffffff;



   background: rgba(33, 32, 36,0.9)!important;

   font-size: 29px!important;

   line-height: 60px!important;

    text-transform: uppercase;

    margin-right: -20px!important;

    display: -webkit-inline-box;

/*    border:rgba(0,0,0, 0.5) 3px solid!important;

    border-radius:15px!important;*/}



.content-wrap {

    position: relative;

    padding: 80px 0 10px 0!important;

}



#page-title span {



    margin: 0!important;



}

#page-title h1 {color:#fff!important;}



#portfolio-navigation a {

    color: #fff!important;}

.bgtest {background-color:rgba(255, 255, 255,1)!important;}

.bgw {background: url(../images/wh-bg.jpg) no-repeat top center!important; background-size: 100%!important}

.bgx {background-color:#ffffff!important;}
.bg-gray {background-color: #3c4040}
.pt {padding-top:100px!important;}

.bgb {background-color: #000000!important;}
.skills {padding-top: 0 !important}
.skills li {
    margin-top: 45px !important;
}
.skills li .progress-percent {background: #435!important;}
.skills li > span {
    line-height: 25px !important;
}
.sm {font-size: 12px!important; display: inline-block!important;}


.br-line {
    background:#000000;
    color:#ffffff;
    padding:15px
}
#page-title h1 {
    text-transform: none;
font-weight: 200;
}
.m-t-20 {margin-top:20px !important;}
.portfolio-meta li span {
  
    width: 265px;}
    .m-r-10 {margin-right: 10px;}
    .menu :hover {
        text-decoration: underline !important;}
        .neg-marg {
            margin-top: -60px !important;
        }

        #portfolio-navigation a {
            display: inline-block;
            float: left;
            width: 81px;
        text-align: left;
    margin-left:0;}
/*#header.transparent-header.full-header #header-wrap {border:none!important;}



.dark #header.transparent-header.full-header:not(.sticky-header) #header-wrap:not(.not-dark) #logo, #header.transparent-header.full-header.dark:not(.sticky-header) #header-wrap:not(.not-dark) #logo {

    border-right-color: rgba(255,255,255,0.2); border-bottom-color: rgba(255,255,255,0.2);

}

#header.full-header #logo {

    padding-right: 30px;

    margin-right: 30px;

    border-right: 1px solid #EEE;

    border-bottom: 1px solid #EEE;

}*/



@media (max-width:800px) {

.bgw {background-size: 200%!important;background-color:#ffffff!important;}



}

@media (max-width:600px) {



.title2  {font-size: 16px!important; }

#page-title.page-title-parallax span {font-size: 12px!important; line-height: 16px!important;}

}